<a href="https://colab.research.google.com/github/mohandaz/HIA-302-Project/blob/main/HIA302_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CLone Github Repository : https://github.com/mohandaz/HIA-302-Project

In [ ]:
!git clone https://github.com/mohandaz/HIA-302-Project

fatal: destination path 'HIA-302-Project' already exists and is not an empty directory.

Libraries

In [ ]:
import pandas as pd
import csv
import numpy as np

Converting .txt to .csv - using pandas

In [ ]:
import pandas as pd

# Specify input and output file paths
input_file_path = '/content/HIA-302-Project/horse-colic.txt'
output_file_path = '/content/HIA-302-Project/horse-colic.csv'

# Read the text file using Pandas and write to CSV
df = pd.read_csv(input_file_path, header=None)
df.to_csv(output_file_path, index=False)

print(f"Conversion completed. CSV file saved at: {output_file_path}")

Conversion completed. CSV file saved at: /content/HIA-302-Project/horse-colic.csv

Converting .txt to .csv - using built-in 'csv' module

In [ ]:
import csv

# Specify input and output file paths
input_file_path = '/content/HIA-302-Project/horse-colic.txt'
output_file_path = '/content/HIA-302-Project/horse-colic.csv'

# Read the text file and write to CSV
with open(input_file_path, 'r') as txt_file, open(output_file_path, 'w', newline='') as csv_file:
    # Create CSV writer object
    csv_writer = csv.writer(csv_file)

    # Read each line from the text file and write to the CSV file
    for line in txt_file:
        # Split the line into a list of values using ',' as the delimiter
        values = line.strip().split(',')
        # Write the values to the CSV file
        csv_writer.writerow(values)

print(f"Conversion completed. CSV file saved at: {output_file_path}")

Conversion completed. CSV file saved at: /content/HIA-302-Project/horse-colic.csv

Question 2.1 : Demonstrate that the csv file can read in Jupyter Notebook, and the dataset remains the same as the raw dataset.

In [ ]:
# Specify the path to the CSV file
csv_file_path = '/content/HIA-302-Project/horse-colic.csv'

# Read the CSV file into a Pandas DataFrame
horse_colic = pd.read_csv(csv_file_path, header=None,)

# Display the first few rows of the CSV DataFrame

horse_colic.info()
horse_colic.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       301 non-null    object
 1   1       301 non-null    int64
 2   2       301 non-null    int64
 3   3       301 non-null    object
 4   4       301 non-null    object
 5   5       301 non-null    object
 6   6       301 non-null    object
 7   7       301 non-null    object
 8   8       301 non-null    object
 9   9       301 non-null    object
 10  10      301 non-null    object
 11  11      301 non-null    object
 12  12      301 non-null    object
 13  13      301 non-null    object
 14  14      301 non-null    object
 15  15      301 non-null    object
 16  16      301 non-null    object
 17  17      301 non-null    object
 18  18      301 non-null    object
 19  19      301 non-null    object
 20  20      301 non-null    object
 21  21      301 non-null    object
 22  22      301 non-null    object
 23  23      301 non-null    int64
 24  24      301 non-null    int64
 25  25      301 non-null    int64
 26  26      301 non-null    int64
 27  27      301 non-null    int64
dtypes: int64(7), object(21)
memory usage: 66.0+ KB

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
1,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
2,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
3,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
4,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1

2.3 Replase the missing values (i.e. with"?" with NaN (Not a Number) value in a loaded dataset using python

In [ ]:

# Specify the path to the CSV file
csv_file_path = '/content/HIA-302-Project/horse-colic.csv'

# Read the CSV file into a Pandas DataFrame
horse_colic = pd.read_csv(csv_file_path, header=None, na_values=['?'])

# Display the first few rows of the original DataFrame
print("Original DataFrame:")
print(horse_colic.head())

# Replace "?" with NaN
horse_colic.replace('?', pd.NA, inplace=True)

# Display the first few rows of the DataFrame after replacing "?" with NaN
print("\nDataFrame after replacing '?' with NaN:")
print(horse_colic.head())
horse_colic.info()

2.4 Save the latest dataset with Nan as horse_colic_with_Nan.csv and ensure the data frame's row number is not saved into csv file

In [ ]:
import pandas as pd
import numpy as np

# Assuming your DataFrame is named 'df'
# If your DataFrame doesn't have column names, you can add them before saving

# Assuming the column names are in the first row of your DataFrame
df.columns = df.columns.str.replace('NaN', 'NAN')

# Replace 'NAN' strings with actual NaN values and remaining '?' with NaN
replacement_dict = {'?': np.nan}
df.replace(replacement_dict, inplace=True)

# Drop the first row (row with column names)
df = df[1:]

# Save the entire DataFrame to a CSV file without including the row numbers
df.to_csv('/content/HIA-302-Project/horse-colic-with-NaN.csv', index=False, na_rep='NaN')

<ipython-input-120-d717a3668567>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(replacement_dict, inplace=True)

2.5 Rename the header by following the description file (horse-colic.names) with not more than 10 characters i the header title

2.6 Save the latest dataset with header title as horse_colic_with_title.csv and ensure the data frame's row number is not saved into csv file.

2.7 Load the horse_colic_with_title.csv file and display list of total NaN at each column in the data set.

2.8 Visualize the totsl NaN at each column in the dataset with a bar chart and set colour to 'blue' using Metplotlib library

2.9 Retrive the datatypes for the dataset

2.10 In this dataset, will it be good idea to delete/drop tha NaN rows? Justify your answer

2.11 Read and evaluate the following codes in Figure 1. What method is the code using to reduce missing values from 1605 to 0? Justify your answer

2.12 Fill out the inline comments marked with hashtags # in lines 8,11,17,20,22. and 26. include the missing codes in line 5 and 6