<a href="https://colab.research.google.com/github/mohandaz/HIA-302-Project/blob/main/HIA302_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CLone Github Repository : https://github.com/mohandaz/HIA-302-Project

In [ ]:
!git clone https://github.com/mohandaz/HIA-302-Project

Cloning into 'HIA-302-Project'...
remote: Enumerating objects: 33, done.
remote: Counting objects: 100% (33/33), done.
remote: Compressing objects: 100% (30/30), done.
remote: Total 33 (delta 13), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (33/33), 273.67 KiB | 5.37 MiB/s, done.
Resolving deltas: 100% (13/13), done.

Libraries

In [129]:
import pandas as pd
import csv
import numpy as np

2.1 Demonstrate different ways to convert the horse-colic.txt file to horsecolic.csv.

In [196]:
import pandas as pd

# Input and output file paths
input_dir = '/content/HIA-302-Project/horse-colic.txt'
output_dir = '/content/HIA-302-Project/horse-colic.csv'

# Read the TXT file with a preexisting index and header
df = pd.read_csv(input_dir, header=None, index_col=None)

# Save the DataFrame to a new CSV file
df.to_csv(output_dir)

print(f"Conversion completed. CSV file saved at: {output_dir}")

Conversion completed. CSV file saved at: /content/HIA-302-Project/horse-colic.csv

Converting .txt to .csv - using Python built-in 'csv' module

In [219]:
import csv

input_dir = '/content/HIA-302-Project/horse-colic.txt'
output_dir = '/content/HIA-302-Project/horse-colic.csv'

# Read the TXT file and write to CSV file using csv module
with open(input_dir, 'r') as txt_file, open(output_dir, 'w', newline='') as csv_file:
    # Create CSV writer
    csv_writer = csv.writer(csv_file)

    # Skip the first line (header)
    next(txt_file)

    # Read each subsequent line from the TXT file, skip the first column, and write to the CSV file
    for line in txt_file:
        data = line.strip().split(',')
        csv_writer.writerow(data[0:1])

print(f"Conversion completed. CSV file saved at: {output_dir}")

Conversion completed. CSV file saved at: /content/HIA-302-Project/horse-colic.csv

Checking data types

Question 2.2
 : Demonstrate that the csv file can read in Jupyter Notebook, and the dataset remains the same as the raw dataset.

In [180]:
# Specify the path to the CSV file
csv_dir = '/content/HIA-302-Project/horse-colic.csv'

# Read the CSV file into a Pandas DataFrame
horse_colic = pd.read_csv(csv_dir, index_col=0, header=0)

# Display the first few rows of the CSV DataFrame

horse_colic.info()
horse_colic.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       300 non-null    object
 1   1       300 non-null    int64
 2   2       300 non-null    int64
 3   3       300 non-null    object
 4   4       300 non-null    object
 5   5       300 non-null    object
 6   6       300 non-null    object
 7   7       300 non-null    object
 8   8       300 non-null    object
 9   9       300 non-null    object
 10  10      300 non-null    object
 11  11      300 non-null    object
 12  12      300 non-null    object
 13  13      300 non-null    object
 14  14      300 non-null    object
 15  15      300 non-null    object
 16  16      300 non-null    object
 17  17      300 non-null    object
 18  18      300 non-null    object
 19  19      300 non-null    object
 20  20      300 non-null    object
 21  21      300 non-null    object
 22  22      300 non-null    object
 23  23      300 non-null    int64
 24  24      300 non-null    int64
 25  25      300 non-null    int64
 26  26      300 non-null    int64
 27  27      300 non-null    int64
dtypes: int64(7), object(21)
memory usage: 68.0+ KB

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

2.3 Replase the missing values (i.e. with"?" with NaN (Not a Number) value in a loaded dataset using python

In [181]:
horse_colic_with_NaN = horse_colic.replace("?","NaN")

In [182]:
horse_colic_with_NaN.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,NaN,2,...,45.00,8.40,NaN,NaN,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,NaN,NaN,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,NaN,NaN,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,NaN,NaN,6,2,...,74.00,7.40,NaN,NaN,2,2,4300,0,0,2

2.4 Save the latest dataset with NaN as horse_colic_with_Nan.csv and ensure the data frame's row number is not saved into csv file

In [187]:
output_dir = '/content/HIA-302-Project/horse_colic_with_NaN.csv'
# Save the DataFrame to a CSV file
horse_colic_with_NaN.to_csv(output_dir)

print(f"CSV file saved at: {output_dir}")

CSV file saved at: /content/HIA-302-Project/horse_colic_with_NaN.csv

In [184]:
horse_colic_with_NaN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       300 non-null    object
 1   1       300 non-null    int64
 2   2       300 non-null    int64
 3   3       300 non-null    object
 4   4       300 non-null    object
 5   5       300 non-null    object
 6   6       300 non-null    object
 7   7       300 non-null    object
 8   8       300 non-null    object
 9   9       300 non-null    object
 10  10      300 non-null    object
 11  11      300 non-null    object
 12  12      300 non-null    object
 13  13      300 non-null    object
 14  14      300 non-null    object
 15  15      300 non-null    object
 16  16      300 non-null    object
 17  17      300 non-null    object
 18  18      300 non-null    object
 19  19      300 non-null    object
 20  20      300 non-null    object
 21  21      300 non-null    object
 22  22      300 non-null    object
 23  23      300 non-null    int64
 24  24      300 non-null    int64
 25  25      300 non-null    int64
 26  26      300 non-null    int64
 27  27      300 non-null    int64
dtypes: int64(7), object(21)
memory usage: 68.0+ KB

2.5 Rename the header by following the description file (horse-colic.names) with not more than 10 characters i the header title

2.6 Save the latest dataset with header title as horse_colic_with_title.csv and ensure the data frame's row number is not saved into csv file.

2.7 Load the horse_colic_with_title.csv file and display list of total NaN at each column in the data set.

2.8 Visualize the totsl NaN at each column in the dataset with a bar chart and set colour to 'blue' using Metplotlib library

2.9 Retrive the datatypes for the dataset

2.10 In this dataset, will it be good idea to delete/drop tha NaN rows? Justify your answer

2.11 Read and evaluate the following codes in Figure 1. What method is the code using to reduce missing values from 1605 to 0? Justify your answer

2.12 Fill out the inline comments marked with hashtags # in lines 8,11,17,20,22. and 26. include the missing codes in line 5 and 6